body { 
		background-image:url('/bg1.jpg');
  		background-size:cover;
  		margin-top: 10px;
  }
  .header{
  	display: flex;
  	justify-content: space-between;
  }
  .sign_in_button{
  	margin: 30px;
  	background: transparent;
  	width: 130px;
  	height: 50px;
  	border-radius: 50%;
  	border: 2px solid white;
  }
  .sign_in_button:hover{
  	background-color: white;
  }
  .sign_in_button b{
  	color: white;
  	font-size: 20px;
  }
  .sign_in_button:hover b{
  	color: black;
  }
  .logo{
  	margin: 20px;
  	height: 120px;
  	width: 120%;
  	border: 2px solid white;
  	border-radius: 20px;
  	cursor:pointer;
  }
  .logo a{
  	text-decoration: none;
  	color: white;
  }
  .logo b{
  	font-size: 90px;
  }
  .logo:hover{
  	background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7))
  }
  .text{
  	margin: 50px;
  	color:white;
  }
  .text b{
  	font-size: 70px;
  }
  .text em{
  	font-size:30px;
  }
  .sign_up_button{
  	width:240px;
  	height: 70px;
  	background:linear-gradient(rgba(76, 186, 219,0.2),rgba(76,186,219,0.9));
  	color: white;
  	font-size: 20px;
  	margin-left: 50px;
  	margin-top: -30px;
  	border:3px solid white;
  	border-radius: 50%;
  }
  .sign_up_button:hover{
  	background:linear-gradient(rgba(76, 186, 219,0.9),rgba(76,186,219,0.2));
  	
  }